.calendar-wrapper {
    user-select: none;
    
    .calendar-wrapper__calendar {
        width: 250px;
        padding: 15px;
        margin-top: 5px;
        border: 1px solid #c7c8ca;
        border-radius: 5px;
        background-color: #d3d5d7;
    }

    .calendar-wrapper__left,
    .calendar-wrapper__right,
    .calendar-wrapper__week-day,
    .calendar-wrapper__day {
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    .calendar-wrapper__left,
    .calendar-wrapper__right,
    .calendar-wrapper__day {
        cursor: pointer;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
    }

    .calendar-wrapper__month {width: 140px;
        height: 30px;
        text-align: center;
        display: inline-block;
        line-height: 2em;
        font-weight: bold;
    }

    .calendar-wrapper__week-day {
        padding: 4px 5px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
    }

    .calendar-wrapper__day,
    .calendar-wrapper__month {
        font-size: 14px;
    }

    .calendar-wrapper__day.different-month {
        color: #999999;
    }

    .calendar-wrapper__day.selected {
        background-color: #f1974d;
    }

    .calendar-wrapper__icon {
        cursor: pointer;
    }
}