@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../../bower_components/bootstrap-stylus/fonts/glyphicons-halflings-regular.eot');
    src: url('../../../bower_components/bootstrap-stylus/fonts/glyphicons-halflings-regular.eot?') format('embedded-opentype'),  
    url('../../../bower_components/bootstrap-stylus/fonts/glyphicons-halflings-regular.svg') format('svg');
}
.statements {
    .statements__list,
    .statements__form {
        margin-top: 30px;
    }

    .statements__pagination {
        margin-top: 20px;
        margin-left: 50%;
        transform: translateX(-50%);    
    }

    .form-group.has-error .alert {
        display: block;
    }

    .form-group .alert {
        display: none;
    }

    .statements__alert {
        padding: 10px;
    }
}