<div class="calendar-wrapper">
    <div class="input-group" ng-click="vm.openCalendar()">
        <input type="text" class="form-control calendar-wrapper__input" 
            readonly ng-model="vm.date" value="">

        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar calendar-wrapper__icon"></span>
        </span>
    </div>    

    <div class="calendar-wrapper__calendar" ng-if="vm.isOpen">
        <div class="calendar-wrapper__header">
            <i class="glyphicon glyphicon-chevron-left calendar-wrapper__left" ng-click="vm.previous()"></i>
            <span class="calendar-wrapper__month">{{vm.monthName}} {{vm.year}}</span>
            <i class="glyphicon glyphicon-chevron-right calendar-wrapper__right" ng-click="vm.next()"></i>
        </div>
        <div class="calendar-wrapper__week-days">
            <span class="calendar-wrapper__week-day" 
                ng-repeat="day in vm.weekDays">{{day}}</span>
        </div>

        <div class="calendar-wrapper__week" ng-repeat="week in vm.weeks">
            <span class="calendar-wrapper__day" 
                ng-class="{'today': day.isToday, 
                'different-month': vm.month!==day.month, 
                'selected': day.day===vm.selected.day && day.month===vm.selected.month && day.year===vm.selected.year}" 
                ng-click="vm.select(day)" ng-repeat="day in week">

                {{day.day}}
            </span>
        </div>
    </div>
</div>